<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">



  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div class="main-container">
    <header class="header">
      <div class="title">
        <input type="image" id="image" alt="Login" src="/docs/poller_logo.png">
        <h2>POLLER</h2>
      </div>
      <span>Have a group decision? Make a Poll with Poller!
      </span>

    </header>

    <!-- Instructions -->
    <div class="instructions" style="    display: flex; justify-content: space-between; margin-top: 5%;">
      <div class="how-to">
        <h3>1) Add a Question</h3>
        <p>
          Add a title to your poll by writing out the question you want your friends to answer.
          Make sure you add you email to create this poll succesfully!

        </p>
      </div>
      <div class="how-to">
        <h3>2) Add Options</h3>
        <p>
          Time to give your friends some options to vote on! Add four different choices to be part
          of the poll. You can also place N/A as the fourth option if you have only 3 choices to decide from.

        </p>
      </div>
      <div class="how-to">
        <h3>3) Send to Friends</h3>
        <p>
          After creating a poll, you will be given a link to share with your friends which will allow
          them to access the poll. The other link will show you the updated results as your friends vote!
        </p>
      </div>
    </div>
  </div>

  <!-- Poll Creation -->
  <div class="poll-box">
    <h3>Make your poll</h3>
    <form method="POST" action="/polls" class="poll-form">
      <div class="email-name">
        <input type="email" required name="email" placeholder="Email">
        <input type="text" name="name" placeholder="Title" required>
      </div>

      <div class="options-descriptions">
        <div class="options">
          <input type="text" name="option1" placeholder="Option 1" required>
          <input type="text" name="option2" placeholder="Option 2" required>
          <input type="text" name="option3" placeholder="Option 3" required>
          <input type="text" name="option4" placeholder="Option 4" required>
        </div>
        <div class="description">
          <input type="text" name="description1" placeholder="Description...">
          <input type="text" name="description2" placeholder="Description...">
          <input type="text" name="description3" placeholder="Description...">
          <input type="text" name="description4" placeholder="Description...">
        </div>
      </div>
      <div class="name_question">
        <label for="name_required">Do you want the poll takers to add their name?</label>
        <select class="name_required" name="name_required">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>
      <div class="btn">
        <button type="submit" class="btn btn-light">Create Poll</button>
      </div>
    </form>





</body>

</html>
