.header{
  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  color: #7a5170;

}
#image{
  width: 12%;
}
.title{
  display:flex;
  align-items: end;
  color: #d3b0cd;
}

.header{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100vw;
  background-color: #7D9D9C;
  position:fixed;
  padding:20px;
  top:0

}
