.header{
  font-family: 'Fira Sans', sans-serif;

}

.header{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100vw;
  background-color: #7D9D9C;
  position:fixed;
  padding:20px;
  top:0

}
